
@font-face {
    font-family: 'Shrikhand-Regular';
    src: url('./police/Shrikhand-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./police/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('./police/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('./police/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./police/Roboto-Bold.ttf');
}

$roboto: 'Roboto-Regular';
$shrik: 'Shrikhand-Regular';
$robotoB: 'Roboto-Bold';
$robotolight: 'Roboto-Light'; 
$purple: #9356DC;
$pink: #FF79DA;
$cyan: #99E2D0;

@mixin bgcolor ($color: $cyan){
    background-color: lighten($cyan, 20%);
}

@keyframes menu{
    from {
        opacity: 0;
        transform: translateY(5px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}


body {
    margin: auto;
    width: 360px;
}

.header__entete {
    width: 100%;
    height: 300px;
    .header__content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        height: 40px;
        margin: auto;
        padding-top: 2%;
        .header__title {
            font-family: $shrik;
            font-size: 1.6em;
            padding-left: 20%;
        }
        .header__link{
            font-size: 1.2em;
            color: black;
        }
    }       
    .header__img{
        width: 100%;
        height: 250px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

section {
    width: 100%;
    height: 1050px;
    @include bgcolor;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 40px 40px 0 0;
    margin-top: -15%;
    position: relative;
    overflow: hidden;
    .section__restoname {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 40px;
        font-family: $shrik;
        font-size: 1.1em;
        padding-top: 0;
        margin-top: 7%;
        .section__heart {
            text-decoration: none;
            margin-right: 5%;
            transform: scale(0);
                i {
                    color: black;
                    font-size: 1.3em;
                }
        }
        &:hover {
            .section__heart {
                transition: transform 300ms ease-in-out;
                transform: scaleY(1);
                transform-origin: bottom;
            }
        }
    }
    .section__bloc {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .section__names {
            width: 10%;
            height: 25px;
            margin-right: 80%;
            margin-top: 7%;
            margin-bottom: 1%;
            font-family: $robotolight;
            font-size: 0.9em;
            border-bottom: 1px solid $cyan;
        }
            .section__boxes {
                font-family: $roboto;
                margin-top: 3%;
                padding: 0;
                width: 90%;
                height: 60px;
                background-color: white;
                border: none;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                border-radius: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                &:nth-child(2) {
                    animation: menu 400ms ease-in-out;
                }
                &:nth-child(3) {
                    animation: menu 700ms ease-in-out;
                }
                &:nth-child(4) {
                    animation: menu 1000ms ease-in-out;
                }
                    .txt {
                        flex: 1;
                        white-space: nowrap;
                        margin: 0 0 2% 5%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                            h4 {
                            margin: 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            }
                            p {
                            width: 85%;
                            height: 20px;
                            margin: 0;
                            font-size: 0.80em;
                            padding-top: 2%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            }
                    }
                    .prix {
                        font-weight: bold;
                        font-size: 0.9em;
                        margin: 0 0 2.5% 0;
                        transition: transform 300ms ease-in-out;
                    }
                    .section__btnbox {
                        height: 100%;
                        border-radius: 0 15px 15px 0;
                        background-color: $cyan;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: transform 300ms ease-in-out;
                        transform: scaleX(0);
                        transform-origin: right;
                        -webkit-transition: transform 300ms ease-in-out;
                        -webkit-transform: scaleX(0);
                        -webkit-transform-origin: right;
                            button { 
                                height: 1.4em;
                                width: 1.4em;
                                border: none;
                                border-radius: 20px;
                                background-color: white;
                                color: $cyan;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transform: rotate(0);
                                transition: transform 300ms ease-in-out;
                                -webkit-transform: rotate(0);
                                -webkit-transition: transform 300ms ease-in-out;
                            }
                    }
                    &:hover {
                        .prix {
                            transform: translate(-100%, 0);
                        }
                        .section__btnbox {
                            width: 17%;
                            transform: scaleX(1);
                            -webkit-transform: scaleX(1);
                            cursor: pointer;
                                button { 
                                    transform: rotate(360deg);
                                    -webkit-transform: rotate(360deg);
                                    cursor: pointer;
                                }
                        }
                    }
            }
    }
    .section__btnsend {
        width: 50%;
            .section__submit {
                width: 100%;
                height: 50px;
                background-color: $pink;
                color: white;
                border: 1px solid $pink;
                border-radius: 30px;
                font-family: $roboto;
                margin-top: 25%;
                transition: background-color 200ms ease-out;
                &:hover {
                    background-color: #f8a4e3;
                    border: #f8a4e3;
                    cursor: pointer;
                }
            }
    }    
}


footer {
    width: 100%;
    height: 200px;
    text-align: start;
    background-color: black;
    .footer__link {
        color: white;
        width: 90%;
        height: 165px;
        margin: auto;
        padding: 0;
        font-size: 0.85em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .footer__link--title {
            font-family: $shrik;
            font-size: 1.1em;
            margin-top: 6%;
            margin-bottom: 3%;
        }
        .footer__link--content {
            font-family: $robotolight;
            color: white;
            text-decoration: none;
            width: 90%;
            .footer__link--1 {
                margin-right: 6%;
                padding-left: 1%;
            }
            .footer__link--2 {
                margin-right: 5%;
            }
        }          
    }
}

                /*Tablette*/
@media all and (min-width: 600px) and (max-width: 1024px)
{

body {
    margin: auto;
    min-width: 600px;
    max-width: 1024px;
}

.header__entete {
    height: 400px;
    .header__content {
        justify-content: flex-start;
        .header__title {
            padding-left: 35%;
        }
    }       
}

section {
    height: 1130px;
    margin-top: -25%;
    .section__bloc {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        .section__boxes {
            width: 90%;
            height: 60px;
                .txt {
                    margin: 0 0 0 5%;
                        p{
                        margin-bottom: 1%;
                        padding-top: 2%;
                        }
                }
        }
    }    
    .section__btnsend {
        width: 35%;
        margin-top: 5%;
    }    
}

}

@media all and (min-width: 1024px) and (max-width: 1980px)
{

body {
    min-width: 1024px;
    max-width: 1980px;
    @include bgcolor;
}

.header__entete {
    width: 100%;
    height: 500px;
    .header__content {
        justify-content: space-between;
        margin: 0 0 0 2%;
    }       
    .header__img {
        width: 100%;
        height: 500px;
    }
}

section {
    height: 550px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    .section__restoname {
        margin: 3% 0 0 0;
    }
    .section__bloc {
        width: 30%;
        .section__boxes {
                &:hover {
                    .prix {
                        transform: translate(-100%, 0);
                    }
                    .section__btnbox {
                        width: 21%;
                        transform: scaleX(100%);
                        cursor: pointer;
                            button {
                                transform: rotate(360deg);
                                cursor: pointer;
                            }
                    }
                }
        }
    }
    .section__btnsend {
        width: 20%;
            .section__submit {
                font-family: $shrik;
                font-size: 1.3em;
            }
    }    
}


footer {
    .footer__link {
        width: 20%;
        margin: 0 0 0 5%;
        padding: 1% 0 0 0;
        .footer__link--title {
            font-size: 1.3em;
        }
    }
}


}