
@font-face {
    font-family: 'Shrikhand-Regular';
    src: url('./police/Shrikhand-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./police/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('./police/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('./police/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./police/Roboto-Bold.ttf');
}

$roboto: 'Roboto-Regular';
$shrik: 'Shrikhand-Regular';
$robotoB: 'Roboto-Bold';
$robotolight: 'Roboto-Light'; 
$purple: #9356DC;
$pink: #FF79DA;
$cyan: #99E2D0;

@mixin bgcolor($color: $cyan) {
    background-color: lighten($cyan, 20%);
}

@mixin bgcolor2($color: $purple) {
    background-color: lighten($purple, 35%);
}

@keyframes loader {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes page {
    from {
        transform: translateY(-9999px);
    }
    to {
        transform: translateY(0);
    }
}

.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 10px $cyan solid;
    border-bottom: 10px $pink solid;
    border-left: 10px $cyan solid;
    border-right: 10px $pink solid;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    position: absolute;
    animation: loader 500ms ease-in-out infinite;
}

.page {
    background-color: white;
    animation: page 3000ms ease;
    position: relative;
}


h1 {
    font-family: $shrik;
    font-size: 1.6em;
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 0;
    padding-top: 2%;
}

nav {
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: $roboto;
    @include bgcolor;
    .nav__geo {
        width: 130px;
        height: 40px;
        font-size: 0.9em;
        font-weight: bolder;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }
    .nav__title {
        font-size: 1.3em;
        width: 220px;
        text-align: center;
        margin: 0;
        padding-top: 3%;
    }
    .nav__txt {
        width: 280px;
        text-align: center;
        font-size: 0.95em;
        margin: 0;
        padding-top: 3%;
    }
    .nav__link {
        width: 200px;
        height: 45px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $pink;
        color: white;
        text-decoration: none;
        font-family: $robotolight;
        font-size: 0.9em;
        margin-top: 7%;
        opacity: 1;
        &:hover {
            transition: opacity 300ms;
            opacity: 0.6;
            box-shadow: 2px 2px 2px grey;
        }
    }
}    


aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 340px;
    font-family: $roboto;
    font-weight: normal;
    margin: 0;
    .aside__title {
        padding-right: 52%;
        margin-bottom: 2%;
        padding-top: 6%;
    }
    .aside__box {
        margin: 3%;
        width: 86%;
        height: 65px;
        @include bgcolor;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .aside__chiffre {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.5em;
            height: 1.5em;
            font-size: 0.9em;
            font-weight: normal;
            color: white;
            background-color: $purple;
            border-radius: 20px;
            margin-left: -3%;
        }
        .aside__i {
            font-size: 1em;
            padding-left: 7%;
        }
        .aside__txt {
            font-size: 0.9em;
            padding-left: 10%;
        }
        &--modif {
            @include bgcolor2;
            .aside__i {
                color: $purple;
            }
        }
    }    
}

section {
    width: 100%;
    height: 1200px;
    @include bgcolor;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10%;
    .section__bigtitle {
        width: 90%;
        font-family: $roboto;
        font-weight: bold;
        padding-top: 12%;
        margin: 0;
    }
    .section__box {
        margin-top: 5%;
        width: 90%;
        height: 240px;
        background-color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 15px;
        .section__boxnew {
            margin-top: 4%;
            margin-left: 65%;
            padding-top: 2%;
            position: absolute;
            z-index: 1;
            text-align: center;
            text-decoration: none;
            font-size: 0.9em;
            width: 80px;
            height: 25px;
            @include bgcolor;
            color: $cyan;
            font-family: $roboto;
        }
        .section__boxlink {
            width: 100%;
            height: 70%;
            .section__boximg {
                width: 100%;
                height: 100%;
                border-radius: 15px 15px 0 0;
                position: relative;
                z-index: 0;
            }
        }
        .section__boxtxt {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: space-between;
            flex-wrap: wrap;
            width: 90%;
            height: 20%;
            margin: auto;
            font-family: $roboto;
            .section__boxtitle {
                margin: 0;
                font-weight: bold;
            }
            .section__boxlieu {
                margin: 0;
            }
            .section__boxheart {
                width: 1%;
                height: 21%;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                border: 0 solid transparent;
                background-color: transparent;
                font-size: 1.5em;
                cursor: pointer;
                    .heartwrap {
                        width: 25px;
                        height: 28px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i {
                            position: relative;
                            background-color: transparent;
                            font-size: 1em;
                        } 
                        .section__box--i {
                            position: absolute;
                            color: pink;
                            opacity: 0;
                            font-size: 1.05em;
                            &:hover {
                                opacity: 0.9;
                                transition: opacity 400ms;
                            } 
                        }
                  
                    }
            }
        }
    }    
}

footer {
    width: 100%;
    height: 200px;
    text-align: start;
    background-color: rgba(32, 32, 32, 0.877);
    .footer__link {
        color: white;
        width: 90%;
        height: 165px;
        margin: auto;
        padding: 0;
        font-size: 0.85em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .footer__link--title {
            font-family: $shrik;
            font-size: 1.1em;
            margin-top: 6%;
            margin-bottom: 3%;
        }
        .footer__link--content {
            font-family: $robotolight;
            color: white;
            text-decoration: none;
            width: 90%;
            .footer__link--1 {
                margin-right: 6%;
                padding-left: 1%;
            }
            .footer__link--2 {
                margin-right: 5%;
            }
        }          
    }
}



                //TABLETTE
@media all and (min-width: 500px) and (max-width: 1024px)
{

body {
    margin: auto;
    min-width: 500px;
    max-width: 800px;
}

h1 {
    font-family: $shrik;
    font-size: 1.6em;
    width: 100%;
    height: 40px;
}

nav {
    height: 300px;
    .nav__link {
        margin-top: 5%;
    }
}


aside {
    .aside__title {
        margin-bottom: 3%;
    }
    .aside__box {
        width: 360px;
        margin: auto;
        .aside__txt {
            padding-left: 15%;
        }
    }    
}

section {
        .section__bigtitle {
            padding-top: 6%;
            margin-left: 15%;
        }
        .section__box {
            width: 385px;
            align-items: center;
            margin-top: 3%;
            .section__boxnew {
                margin-left: 38%;
                padding-top: 1%;
            }
        }    
}

footer{
    .footer__link {
        .footer__link--title {
            font-size: 1.3em;
        }
        .footer__link--content {
            width: 60%;
        }          
    }
}

}

        // DESKTOP
@media all and (min-width: 1024px) and (max-width: 1800px)
{
    body {
        min-width: 1024px;
        max-width: 1280px;
        margin: auto;
    }

    h1 {
        font-size: 2em;
        text-align: start;
        padding: 2% 0 1% 2%;
    }
    
    nav {
        height: 300px;
        align-items: start;
        .nav__geo {
            margin: auto;

        }
        .nav__title {
            width: 100%;
            padding: 0;
        }
        .nav__txt {
            width: 100%;
            padding: 1% 0 0 0;
        }
        .nav__link {
            margin: auto;
        }
    }    
    
    
    aside {
        height: 200px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .aside__title {
            width: 100%;
            margin: 0 0 0 2%;
            padding: 4% 0 1% 0;
        }
        .aside__box {
            margin: 1% 2% 1% 2%;
            width: 300px;
            height: 65px;
        }    
    }
    
    section {
        width: 100%;
        height: 700px;
        @include bgcolor;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 5% 0 0 0;
        .section__bigtitle {
            width: 90%;
            padding: 0;
            margin: 0 6% 0 0;
            font-family: $roboto;
            font-weight: bold;
        }
        .section__box {
            margin: 0 2% 10% 2%;
            width: 385px;
            height: 240px;
            background-color: white;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            border-radius: 15px;
            .section__boxnew {
                margin: 2% 0 0 24%;
                padding-top: 0.3%;
            }
        }    
    }
    
    footer {
        width: 100%;
        height: 200px;
        text-align: start;
        background-color: rgba(32, 32, 32, 0.877);
        .footer__link {
            width: 20%;
            margin: 0 0 0 2%;
            .footer__link--title {
                font-size: 1.3em;
            }
            .footer__link--content {
                font-family: $robotolight;
                color: white;
                text-decoration: none;
                width: 90%;
                .footer__link--1 {
                    margin-right: 6%;
                    padding-left: 1%;
                }
                .footer__link--2 {
                    margin-right: 5%;
                }
            }          
        }
    }
    

}

@media all and (min-width: 1800px)
{
    body {
        height: 100vh;
        width: 100vw;
    }

    h1 {
        font-size: 2em;
        text-align: start;
        padding: 2% 0 1% 2%;
    }
    
    nav {
        height: 300px;
        align-items: start;
        .nav__geo {
            margin: auto;

        }
        .nav__title {
            width: 100%;
            padding: 0;
        }
        .nav__txt {
            width: 100%;
            padding: 1% 0 0 0;
        }
        .nav__link {
            margin: auto;
        }
    }    
    
    
    aside {
        height: 200px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .aside__title {
            width: 100%;
            margin: 0 0 0 2%;
            padding: 4% 0 1% 0;
        }
        .aside__box {
            margin: 1% 2% 1% 2%;
            width: 300px;
            height: 65px;
        }    
    }
    
    section {
        width: 100%;
        height: 500px;
        @include bgcolor;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 5% 0 0 0;
        .section__bigtitle {
            width: 90%;
            padding: 0;
            margin: 0 6% 0 0;
            font-family: $roboto;
            font-weight: bold;
        }
        .section__box {
            margin: 0 2% 5% 0;
            width: 385px;
            height: 240px;
            background-color: white;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            border-radius: 15px;
            .section__boxnew {
                margin: 1% 0 0 15%;
                padding-top: 0.3%;
            }
        }    
    }
    
    footer {
        width: 100%;
        height: 200px;
        text-align: start;
        background-color: rgba(32, 32, 32, 0.877);
        .footer__link {
            width: 20%;
            margin: 0 0 0 2%;
            .footer__link--title {
                font-size: 1.3em;
            }
            .footer__link--content {
                font-family: $robotolight;
                color: white;
                text-decoration: none;
                width: 90%;
                .footer__link--1 {
                    margin-right: 6%;
                    padding-left: 1%;
                }
                .footer__link--2 {
                    margin-right: 5%;
                }
            }          
        }
    }
    

}