.section__boxheart {
        font-size: 1.5em;
        cursor: pointer;
        .heartwrap {
            width: 25px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                position: relative;
                background-color: transparent;
                font-size: 1em;
            } 
            .section__box--i {
                position: absolute;
                color: rgb(147, 86, 220);
                opacity: 0;
                font-size: 1em;
                &:hover {
                    opacity: 1;
                    transition: opacity 400ms;
                } 
            }
      
        }
}