.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 10px $cyan solid;
    border-bottom: 10px $pink solid;
    border-left: 10px $cyan solid;
    border-right: 10px $pink solid;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    position: absolute;
    animation: loader 500ms ease-in-out infinite;
}

.page {
    background-color: white;
    animation: page 3000ms ease;
    position: relative;
}