
@font-face {
    font-family: 'Shrikhand-Regular';
    src: url('./police/Shrikhand-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./police/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('./police/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('./police/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./police/Roboto-Bold.ttf');
}