@font-face {
  font-family: "Shrikhand-Regular";
  src: url("../police/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../police/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../police/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../police/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../police/Roboto-Bold.ttf");
}
@keyframes menu {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  margin: auto;
  width: 360px;
}

.header__entete {
  width: 100%;
  height: 300px;
}
.header__entete .header__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 40px;
  margin: auto;
  padding-top: 2%;
}
.header__entete .header__content .header__title {
  font-family: "Shrikhand-Regular";
  font-size: 1.6em;
  padding-left: 20%;
}
.header__entete .header__content .header__link {
  font-size: 1.2em;
  color: black;
}
.header__entete .header__img {
  width: 100%;
  height: 250px;
}
.header__entete .header__img img {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  height: 1025px;
  background-color: #e8f9f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 40px 40px 0 0;
  margin-top: -15%;
  position: relative;
  overflow: hidden;
}
section .section__restoname {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 40px;
  font-family: "Shrikhand-Regular";
  font-size: 1.1em;
  padding-top: 0;
  margin-top: 7%;
}
section .section__restoname .section__heart {
  text-decoration: none;
  margin-right: 5%;
  transform: scale(0);
}
section .section__restoname .section__heart i {
  color: black;
  font-size: 1.3em;
}
section .section__restoname:focus .section__heart {
  transition: transform 300ms ease-in-out;
  transform: scaleY(1);
  transform-origin: bottom;
}
section .section__names {
  width: 10%;
  height: 25px;
  margin-right: 80%;
  margin-top: 7%;
  margin-bottom: 1%;
  font-family: "Roboto-Light";
  font-size: 0.9em;
  border-bottom: 1px solid #99E2D0;
}
section .section__bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
section .section__bloc .section__boxes {
  font-family: "Roboto-Regular";
  margin-top: 3%;
  padding: 0;
  width: 90%;
  height: 60px;
  background-color: white;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
section .section__bloc .section__boxes:nth-child(2) {
  animation: menu 400ms ease-in-out;
}
section .section__bloc .section__boxes:nth-child(3) {
  animation: menu 700ms ease-in-out;
}
section .section__bloc .section__boxes:nth-child(4) {
  animation: menu 1000ms ease-in-out;
}
section .section__bloc .section__boxes .txt {
  flex: 1;
  white-space: nowrap;
  margin: 0 0 2% 5%;
  overflow: hidden;
  text-overflow: ellipsis;
}
section .section__bloc .section__boxes .txt h4 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
section .section__bloc .section__boxes .txt p {
  width: 85%;
  height: 20px;
  margin: 0;
  font-size: 0.8em;
  padding-top: 2%;
  overflow: hidden;
  text-overflow: ellipsis;
}
section .section__bloc .section__boxes .prix {
  font-weight: bold;
  font-size: 0.9em;
  margin: 0 0 2.5% 0;
  transition: transform 300ms ease-in-out;
}
section .section__bloc .section__boxes .section__btnbox {
  height: 100%;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
}
section .section__bloc .section__boxes .section__btnbox button {
  height: 1.4em;
  width: 1.4em;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0);
  transition: transform 300ms ease-in-out;
}
section .section__bloc .section__boxes:hover .prix {
  transform: translate(-100%, 0);
}
section .section__bloc .section__boxes:hover .section__btnbox {
  width: 17%;
  transform: scaleX(100%);
  cursor: pointer;
}
section .section__bloc .section__boxes:hover .section__btnbox button {
  transform: rotate(360deg);
  cursor: pointer;
}
section .section__btnsend {
  width: 50%;
}
section .section__btnsend .section__submit {
  width: 100%;
  height: 50px;
  background-color: #FF79DA;
  color: white;
  border: 1px solid #FF79DA;
  border-radius: 30px;
  font-family: "Roboto-Regular";
  margin-top: 25%;
  transition: background-color 200ms ease-out;
}
section .section__btnsend .section__submit:hover {
  background-color: #f8a4e3;
  border: #f8a4e3;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 200px;
  text-align: start;
  background-color: black;
}
footer .footer__link {
  color: white;
  width: 90%;
  height: 165px;
  margin: auto;
  padding: 0;
  font-size: 0.85em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footer__link .footer__link--title {
  font-family: "Shrikhand-Regular";
  font-size: 1.1em;
  margin-top: 6%;
  margin-bottom: 3%;
}
footer .footer__link .footer__link--content {
  font-family: "Roboto-Light";
  color: white;
  text-decoration: none;
  width: 90%;
}
footer .footer__link .footer__link--content .footer__link--1 {
  margin-right: 6%;
  padding-left: 1%;
}
footer .footer__link .footer__link--content .footer__link--2 {
  margin-right: 5%;
}

/*Tablette*/
@media all and (min-width: 600px) and (max-width: 1024px) {
  body {
    margin: auto;
    min-width: 600px;
    max-width: 1024px;
  }

  .header__entete {
    height: 400px;
  }
  .header__entete .header__content {
    justify-content: flex-start;
  }
  .header__entete .header__content .header__title {
    padding-left: 35%;
  }

  section {
    height: 1130px;
    margin-top: -25%;
  }
  section .section__bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  section .section__bloc .section__boxes {
    width: 90%;
    height: 60px;
  }
  section .section__bloc .section__boxes .txt {
    margin: 0 0 0 5%;
  }
  section .section__bloc .section__boxes .txt p {
    margin-bottom: 1%;
    padding-top: 2%;
  }
  section .section__btnsend {
    width: 35%;
    margin-top: 5%;
  }
}
@media all and (min-width: 1024px) and (max-width: 1980px) {
  body {
    min-width: 1024px;
    max-width: 1980px;
    background-color: #e8f9f5;
  }

  .header__entete {
    width: 100%;
    height: 500px;
  }
  .header__entete .header__content {
    justify-content: space-between;
    margin: 0 0 0 2%;
  }
  .header__entete .header__img {
    width: 100%;
    height: 500px;
  }

  section {
    height: 550px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  section .section__restoname {
    margin: 3% 0 0 0;
  }
  section .section__bloc {
    width: 30%;
  }
  section .section__bloc .section__boxes:hover .prix {
    transform: translate(-100%, 0);
  }
  section .section__bloc .section__boxes:hover .section__btnbox {
    width: 21%;
    transform: scaleX(100%);
    cursor: pointer;
  }
  section .section__bloc .section__boxes:hover .section__btnbox button {
    transform: rotate(360deg);
    cursor: pointer;
  }
  section .section__btnsend {
    width: 20%;
  }
  section .section__btnsend .section__submit {
    font-family: "Shrikhand-Regular";
    font-size: 1.3em;
  }

  footer .footer__link {
    width: 20%;
    margin: 0 0 0 5%;
    padding: 1% 0 0 0;
  }
  footer .footer__link .footer__link--title {
    font-size: 1.3em;
  }
}

/*# sourceMappingURL=resto.css.map */
